:root {
	--display-color: rgb(33, 236, 138);
	--off-white: hsla(215, 85%, 95%, 1);
	--light-green: hsla(130, 90%, 65%, 1);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}

.calc-body {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template: 1.5fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	max-height: 600px;
	max-width: 450px;
	padding: 17px;
	box-shadow: 0px 0px 4px 4px hsla(215, 85%, 5%, 1);
	border: 1px solid var(--off-white);
	background: hsla(218, 85%, 10%, 1);
}

.display {
	grid-row: 1;
	grid-column: 1 / 5;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap-reverse;
	padding-right: 10px;
	padding-left: 10px;
	color: var(--off-white);
	overflow: hidden;
	background-color: var(--display-color);
	margin-bottom: 10px;
	border: 1px solid var(--off-white);
}

button {
	background-color: var(--off-white);
	font-size: 2rem;
	border: none;
	color: var(--bg-color);
	text-decoration: none;
}

button,
button:focus,
button:active {
	outline: none;
	padding: 0;

}

button:active {
	background-color: var(--light-blue);
}

.btn-equals {
	grid-row: 6;
	grid-column: 3;
	background: hsla(215, 85%, 60%, 1);
}

.btn-enter {
	grid-row: span 2;
	grid-column: 4;
	background: hsla(215, 85%, 60%, 1);
}

.btn-minus {
	grid-row: 4;
	grid-column: 4;
	background: hsla(215, 85%, 60%, 1);
}

.btn-plus {
	grid-row: 3;
	grid-column: 4;
	background: hsla(215, 85%, 60%, 1);
}

.btn-do {
	grid-row: 2;
	grid-column: 4;
	background: hsla(215, 85%, 60%, 1);
}

.btn-numLock {
	grid-row: 2;
	grid-column: 1;
	background: hsla(215, 85%, 60%, 1);
	color: var(--off-white);
}

.btn-multi {
	grid-row: 2;
	grid-column: 2;
	font-size: 1.5rem;
	background: hsla(215, 85%, 60%, 1);
}

.btn-dot {
	grid-row: 6;
	grid-column: 2;
	background: hsla(215, 85%, 60%, 1);
}

.btn-zero {
	grid-row: 6;
	grid-column: 1 / 3;
	background: hsla(215, 85%, 60%, 1);
}

.btn-one {
	grid-row: 5;
	grid-column: 1;
	background: hsla(215, 85%, 60%, 1);
}

.btn-two {
	grid-row: 5;
	grid-column: 2;
	background: hsla(215, 85%, 60%, 1);
}

.btn-three {
	grid-row: 5;
	grid-column: 3;
	background: hsla(215, 85%, 60%, 1);
}

.btn-four {
	grid-row: 4;
	grid-column: 1;
	background: hsla(215, 85%, 60%, 1);
}

.btn-five {
	grid-row: 4;
	grid-column: 2;
	background: hsla(215, 85%, 60%, 1);
}

.btn-six {
	grid-row: 4;
	grid-column: 3;
	background: hsla(215, 85%, 60%, 1);
}

.btn-seven {
	grid-row: 3;
	grid-column: 1;
	background: hsla(215, 85%, 60%, 1);
}

.btn-eight {
	grid-row: 3;
	grid-column: 2;
	background: hsla(215, 85%, 60%, 1);
}

.btn-nine {
	grid-row: 3;
	grid-column: 3;
	background: hsla(215, 85%, 60%, 1);
}

.btn-pos-neg {
	grid-row: 2;
	grid-column: 3;
	background: hsla(215, 85%, 60%, 1);
}